{
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-blade"],
    "overrides": [
        {
            "files": "resources/**/*.blade.php",
            "options": {
                "bracketSameLine": true,
                "htmlWhitespaceSensitivity": "ignore",
                "printWidth": 100,
                "tabWidth": 4,
                "useTabs": true,
                "singleQuote": true,
                "bracketSpacing": true
            }
        }
    ]
}
